# BombPartyClient

.vscode/

obj/
bin/

BombParty/html
BombParty/latex

*.bak

*.o
**/*.o

*.exe
**/*.exe

# BombPartyServer

BombPartyServer/.env
BombPartyServer/.env.docker
BombPartyServer/node_modules

# BombProcessor
*.log
**/*.log
BombProcessor/log
BombProcessor/node_scripts/input.txt
BombProcessor/getroom.txt
BombProcessor/createroom.txt