# BombPartyClient

.vscode/

obj/
bin/

BombParty/html
BombParty/latex

*.bak

*.o
**/*.o

*.exe
**/*.exe

# BombPartyServer

BombPartyServer/.env
BombPartyServer/.env.docker
BombPartyServer/node_modules

# BombProcessor

BombProcessor/log